target*/
.idea
nb*
*.iml
stuff/
*.versionsBackup
*.log
*.o
*.o.d
*.a
*.def
opencvsrc/
.settings/
.project
.classpath
*$py.class
*.pyc
.exe
original/
*.sikuli.robot/
*.java.ignore
.DS_Store
native/
.test-results/
**/packages/bin*
*.db
sikuligo
!packages/client-python/sikuligo/
!packages/client-python/sikuligo/**
sikuligo-monitor
node_modules/
**/node_modules/
packages/editor/.next/
packages/dashboard-electron/dist/
.yarn/install-state.gz
yarn-error.log
